.watch{
    margin: 10% 45% 10% 40%;
    width: 300px;
    height: 120px;
    border: 1px solid;
    box-shadow: 5px 10px 8px 10px #888888;
}

.stopwatch-screen{
    display: block;
    font-size: 35px;
    text-align: center;
}


.btn{
    float: left;
    margin: 10px 5px 5px 15%;
    width: 70px;
    height: 40px;
    font-size: large;
}
